<div class="cart">
    <div class="parent1" *ngIf="isCartEmpty == false" >
        <div class="cart-element" *ngFor="let product of cartProducts">
            <img src={{product.url}} alt={{product.name}}> <br />
            <div >
                <span class="cart-element-child" >{{product.name}}</span> <br />
                <span class="cart-element-child" >${{product.price}}</span> <br />
                <span class="cart-element-child" >{{product.description}}</span> <br />
                <span class="cart-element-child" >Amount: <input type="number" name="amount" id="product.id" [value]="product.amount" [(ngModel)]="product.amount" (input)="product.amount=onInputChange($event)" max="10" /></span> <br />
                <button class="btn btn-danger cart-element-child" (click)="removeCartProduct(product)">Remove</button> <br />
                <a routerLink="/" class="cart-element-child">Back to Product List</a>
            </div>
        </div>
        <h2>Total Price: ${{totalPrice}}</h2>
    </div>
    <form (ngSubmit)="checkOut()" #myForm="ngForm" class="parent2" *ngIf="isCartEmpty == false">
        <label for="fullName">
            Full Name: <br />
            <input type="text" name="fullName" id="fullName" placeholder="(minimum 6 characters)" [(ngModel)]="fullName"  minlength="6" maxlength="20" #fullNameInput="ngModel" required>
        </label>
        <label for="adress">
            Address: <br />
            <input type="text" name="address" id="address" placeholder="(minimum 6 characters)" [(ngModel)]="address"  minlength="6" maxlength="10" #addressInput="ngModel" required>
        </label>
        <label for="creditCard">
            Credit Card Number: <br />
            <input type="number" name="creditCardNumber" id="creditCard" placeholder="(16-digit number)" [(ngModel)]="creditCardNumber" min="100000" max="10000000" #creditCardInput="ngModel" required>
        </label>
        <p>We'll never share your payment details with anyone</p>
        <button type="submit" [disabled]="myForm.invalid">Submit</button>
        <div class="error-message" *ngIf="fullNameInput.invalid && (fullNameInput.dirty || fullNameInput.touched)">
            <div *ngIf="fullNameInput.errors?.['required']">Full Name is required.</div>
            <div *ngIf="fullNameInput.errors?.['minlength']">Full Name must have 6 characters.</div>
        </div>
        <div class="error-message" *ngIf="addressInput.invalid && (addressInput.dirty || addressInput.touched)">
            <div *ngIf="addressInput.errors?.['required']">Address is required.</div>
            <div *ngIf="addressInput.errors?.['minlength']">Address must have 6 characters.</div>
        </div>
        <div class="error-message" *ngIf="creditCardInput.invalid && (creditCardInput.dirty || creditCardInput.touched)">
            <div *ngIf="creditCardInput.errors?.['required']">Credit Card is required.</div>
            <div *ngIf="creditCardNumber < 100000">Credit Card must be at least > 100,000.</div>
        </div>
    </form>
    <div *ngIf="isCartEmpty == true">
        <h2>Cart is Empty!</h2>
    </div>
</div>