.cart {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parent1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.parent2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.cart-element {
    display: flex;
    flex-direction: row;
}

img {
    width: 100px;
}

