.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.cart-element {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    width: 100px;
}

