.cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 64px;
}

.parent1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.parent2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.cart-element {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.cart-element > div {
    margin-left: 10px;
}

.cart-element-child {
    margin-bottom: 10px;
}

img {
    width: 100px;
    border-radius: 10px;
}

.number-input {
    width: 80px;
    text-align: center;
    margin-bottom: 5px;
}

.empty-cart-message {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
