.check-out {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.header-area {
    width: 80%;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5px;
}