.check-out {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-area {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    flex-direction: row;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}