.check-out {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-area {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-area > div {
    margin-right: 5px;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}

.sub {
    margin-right: 5px;
}