<div *ngFor="let product of products">
    <div class="product-item" >
        <a routerLink="{{product.id}}">
            <img src={{product.url}} alt={{product.name}}>
        </a>
        <p>{{product.name}}</p>
        <p>${{product.price}}</p>
        <form (ngSubmit)="onSubmitForm(product)">
            <select name="selectedProducts" id="selectedProducts" [(ngModel)]="selectedProducts" (ngModelChange)="onInputChange($event)">
                <option *ngFor="let item of availableProducts" value={{item}}>{{item}}</option>
            </select> <br /> <br />
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
    </div>
</div>