<!-- <div *ngFor="let product of products">
    <div class="product-item" >
        <a routerLink="{{product.id}}">
            <img src={{product.url}} alt={{product.name}}>
        </a>
        <p>{{product.name}}</p>
        <p>${{product.price}}</p>
        <form (ngSubmit)="onSubmitForm(product)">
            <select name="selectedProducts" id="selectedProducts" [(ngModel)]="selectedProducts" (ngModelChange)="onInputChange($event)">
                <option *ngFor="let item of availableProducts" value={{item}}>{{item}}</option>
            </select> <br /> <br />
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
    </div>
</div> -->
<mat-card class="product-item" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="cursor-pointer" routerLink="/products/{{product.id}}" src="{{product.url}}" alt="{{product.name}}">
    <mat-card-content>
      This is the Card Content
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button routerLink="/products/{{product.id}}">Add to Cart</button>
    </mat-card-actions>
    <mat-card-footer>This is the footer</mat-card-footer>
</mat-card>